#primeiroBloco{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    height: 130px;
    font: arial;
    
}
#segundoBloco{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    height: 130px;
    font: arial;
}
.botao{
    background-color: #febe01;
}
h1{
    align: center;
}
#destaque{
    color: #febe01;
}
